---
import IconDoc from "@icons/IconDoc.astro";
import { FILE_NAME } from "@js/global";
import NavLink from "@components/NavLink.astro";
import IconStar from "@icons/IconStar.astro";
import IconFolder from "@icons/IconFolder.astro";
import IconCloud from "@icons/IconCloud.astro";
import IconSearch from "@icons/IconSearch.astro";
import IconUndo from "@icons/IconUndo.astro";
import IconRedo from "@icons/IconRedo.astro";
import IconPrint from "@icons/IconPrint.astro";
import IconText from "@icons/IconText.astro";
import IconFormat from "@icons/IconFormat.astro";
import IconLock from "@icons/IconLock.astro";
import IconArrowDown from "@icons/IconArrowDown.astro";
import IconMessage from "@icons/IconMessage.astro";
import IconRollback from "@icons/IconRollback.astro";
import ThemeToggle from "@components/ThemeToggle.astro";
import IconArrowLeft from "@icons/IconArrowLeft.astro";
import ThemeToggleMobile from "@components/ThemeToggleMobile.astro";
import IconLinkedin from "@icons/IconLinkedin.astro";
import IconGithub from "@icons/IconGithub.astro";
import DropdownMenu from "@components/DropdownMenu.astro";
import DropdownLink from "@components/DropdownLink.astro";
import IconNewDocument from "@icons/IconNewDocument.astro";
import IconOpenFolder from "@icons/IconOpenFolder.astro";
import IconSave from "@icons/IconSave.astro";
import IconPaste from "@icons/IconPaste.astro";
import IconCopy from "@icons/IconCopy.astro";
import IconCut from "@icons/IconCut.astro";
---

<!-- Header 1 -->
<nav class="hidden w-full md:flex gap-2 justify-between">
  <!-- Header 1-1 -->
  <div class="flex w-auto shrink">
    <div
      title="Pagina principal de documentos"
      class="flex justify-center items-center shrink"
    >
      <IconDoc class="size-9" />
    </div>

    <div class="flex flex-col justify-center shrink">
      <div class="flex items-center gap-2 pl-2 shrink">
        <a href="/" class="text-black dark:text-white text-lg">{FILE_NAME}</a>
        <IconStar class="size-5 text-black/50 dark:text-white/50 ml-4" />
        <IconFolder class="size-5 text-black/50 dark:text-white/50" />
        <IconCloud class="size-6 text-black/50 dark:text-white/50" />
      </div>
      <div class="flex items-center w-auto shrink">
        <DropdownMenu name="Archivo">
          <DropdownLink href="#" class="text-black/50 dark:text-white/50">
            <slot name="icon">
              <IconNewDocument class="mx-2 size-5" />
            </slot>
            Nuevo
          </DropdownLink>
          <DropdownLink href="#" class="text-black/50 dark:text-white/50">
            <slot name="icon">
              <IconOpenFolder class="mx-2 size-5" />
            </slot>
            Abrir
          </DropdownLink>
          <DropdownLink href="#" class="text-black/50 dark:text-white/50">
            <slot name="icon">
              <IconSave class="mx-2 size-5" />
            </slot>
            Guardar
          </DropdownLink>
        </DropdownMenu>

        <DropdownMenu name="Editar">
          <DropdownLink href="#" class="text-black/50 dark:text-white/50">
            <slot name="icon">
              <IconUndo class="mx-2 size-5" />
            </slot>
            Deshacer
          </DropdownLink>
          <DropdownLink href="#" class="text-black/50 dark:text-white/50">
            <slot name="icon">
              <IconRedo class="mx-2 size-5" />
            </slot>
            Rehacer
          </DropdownLink>
          <hr class="h-px my-1 bg-gray-200 border-0 dark:bg-gray-700"/>
          <DropdownLink href="#" class="text-black/50 dark:text-white/50">
            <slot name="icon">
              <IconCut class="mx-2 size-5" />
            </slot>
            Cortar
          </DropdownLink>
          <DropdownLink href="#" class="text-black/50 dark:text-white/50">
            <slot name="icon">
              <IconCopy class="mx-2 size-5" />
            </slot>
            Copiar
          </DropdownLink>
          <DropdownLink href="#" class="text-black/50 dark:text-white/50">
            <slot name="icon">
              <IconPaste class="mx-2 size-5" />
            </slot>
            Pegar
          </DropdownLink>
        </DropdownMenu>
        <NavLink href="#">Ver</NavLink>
        <NavLink href="#">Insertar</NavLink>
        <NavLink href="#">Formato</NavLink>
        <NavLink href="#">Herramientas</NavLink>
        <NavLink href="#">Extensiones</NavLink>
        <NavLink href="#">Ayuda</NavLink>
      </div>
    </div>
  </div>
  <!-- Header 1-2 -->
  <div class="flex flex-grow gap-4 justify-end items-center w-full">
    <a
      href="https://www.linkedin.com/in/juanadoval/"
      class="hover:bg-gray-200 rounded-lg p-1"
      ><IconLinkedin class="size-5 text-black dark:text-white" /></a
    >
    <a
      href="https://github.com/dovaldev/"
      class="hover:bg-gray-200 rounded-lg p-1"
      ><IconGithub class="size-5 text-black dark:text-white" /></a
    >
    <ThemeToggle elID="theme-toggle-btn" menuID="themes-menu" />
    <IconMessage class="size-5 text-black dark:text-white" />
    <div class="bg-[#C2E7FF] rounded-3xl">
      <div class="py-2.5 px-6 flex items-center gap-2">
        <IconLock class="size-5 text-gray-800" />
        <span>Compartir</span>
        <div class="h-5 w-[1px] bg-white ml-1"></div>
        <IconArrowDown class="size-3 text-gray-800" />
      </div>
    </div>
    <img
      src="/images/icons/dovaldev-icon.webp"
      class="rounded-full size-12 object-cover"
    />
  </div>
</nav>
<!-- Header 2 -->
<nav
  class="hidden md:block mt-2 verflow-x-scroll whitespace-nowrap cursor-grab overflow-hidden w-full"
>
  <ul
    class="flex bg-gray-100 ark:bg-gray-200 dark:bg-gray-700 w-full rounded-2xl p-2 gap-2 items-center"
  >
    <li><IconSearch class="size-5 text-black/50 dark:text-white/50" /></li>
    <li><IconUndo class="size-5 text-black/50 dark:text-white/50" /></li>
    <li><IconRedo class="size-5 text-black/50 dark:text-white/50" /></li>
    <li>
      <button
        class="m-0 p-1 flex justify-center items-center hover:bg-gray-200 rounded"
        id="download-btn"
        ><IconPrint class="size-5 text-black dark:text-white" /></button
      >
    </li>
    <li><IconText class="size-5 text-black/50 dark:text-white/50" /></li>
    <li><IconFormat class="size-5 text-black/50 dark:text-white/50" /></li>
    <li>
      <select
        id="scale-selector"
        class="bg-gray-100 dark:bg-gray-700 text-black/50 dark:text-white/50 text-sm rounded-lg"
      >
        <option value="1">100%</option>
        <option value="0.8">80%</option>
      </select>
    </li>
    <div class="h-5 w-[1px] bg-white"></div>
    <select
      class="bg-gray-100 dark:bg-gray-700 text-black/50 dark:text-white/50 text-sm rounded-lg"
    >
      <option value="100">Texto nor...</option>
    </select>
    <li>
      <select
        class="bg-gray-100 dark:bg-gray-700 text-black/50 dark:text-white/50 text-sm rounded-lg"
      >
        <option value="100">PT Mo...</option>
      </select>
    </li>
    <div class="h-5 w-[1px] bg-white"></div>
    <li>
      <select
        class="bg-gray-100 dark:bg-gray-700 text-black/50 dark:text-white/50 text-sm rounded-lg"
      >
        <option value="100">Subtítulo</option>
      </select>
    </li>
    <li>
      <select
        class="bg-gray-100 dark:bg-gray-700 text-black/50 dark:text-white/50 text-sm rounded-lg"
      >
        <option value="100">Robot...</option>
      </select>
    </li>
    <div class="h-5 w-[1px] bg-white mr-1"></div>
    <li>
      <div class="flex items-center gap-2.5">
        <button class="text-black/50 dark:text-white/50">-</button>
        <input
          type="number"
          class="bg-gray-200 dark:bg-gray-700 text-black/50 dark:text-white/50 text-sm rounded border w-8 h-6 text-center"
          value="9"
        />
        <button class="text-black/50 dark:text-white/50">+</button>
      </div>
    </li>
    <div class="h-5 w-[1px] bg-white ml-1"></div>
    <div class="flex gap-4 items-center">
      <li class="font-semibold text-black/50 dark:text-white/50">B</li>
      <li class="font-serif italic text-black/50 dark:text-white/50">I</li>
      <li class="underline underline-offset-4 text-black/50 dark:text-white/50">U</li>
    </div>
  </ul>
</nav>
<nav class="w-full flex md:hidden items-center gap-4 justify-between">
  <IconArrowLeft class="size-8 text-black dark:text-white" />
  <a href="/" class="text-black dark:text-white text-xl flex-1">{FILE_NAME}</a>
  <ThemeToggleMobile />
</nav>
<nav class="flex gap-4 my-2 md:hidden">
  <a
    href="https://www.linkedin.com/in/juanadoval/"
    class="hover:bg-gray-200 rounded-lg p-1"
    ><IconLinkedin class="size-5 text-black dark:text-white" /></a
  >
  <a
    href="https://github.com/dovaldev/"
    class="hover:bg-gray-200 rounded-lg p-1"
    ><IconGithub class="size-5 text-black dark:text-white" /></a
  >
</nav>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const dropdowns = document.querySelectorAll(".dropdown");

    dropdowns.forEach((dropdown) => {
      const toggleButton = dropdown.querySelector(".dropdown-toggle");
      const menu = dropdown.querySelector(".dropdown-menu");

      if (!toggleButton || !menu) return;

      toggleButton.addEventListener("click", function (event) {
        event.stopPropagation(); // Para evitar que el click cierre el dropdown inmediatamente

        // Cerrar todos los demás dropdowns
        dropdowns.forEach((otherDropdown) => {
          if (otherDropdown !== dropdown) {
            const otherMenu = otherDropdown.querySelector(".dropdown-menu");
            otherMenu?.classList.remove("show");
          }
        });

        // Alternar el menú actual
        menu.classList.toggle("show");
      });
    });

    // Cerrar el dropdown al hacer clic fuera
    document.addEventListener("click", function (event) {
      const target = event.target as Node; // Hacemos una conversión explícita a Node
      dropdowns.forEach((dropdown) => {
        const menu = dropdown.querySelector(".dropdown-menu");
        if (!menu) return;

        if (!dropdown.contains(target)) {
          menu.classList.remove("show");
        }
      });
    });
  });

  // Scale selector dropdown

  const scaleSelector = document.getElementById("scale-selector");
  scaleSelector?.addEventListener('change', function() {
  const selectedValue = (this as HTMLSelectElement).value;
  // Cambiar el valor de la variable CSS
  document.documentElement.style.setProperty('--custom-scale', selectedValue);
});

</script>
