---
import Layout from "@layouts/Layout.astro";
import Nav from "@components/Nav.astro";
import GoogleDocs from "@components/GoogleDocs.astro";
const pages = await Astro.glob("../../content/es/*.mdx");
//console.log(pages);  // Verifica el contenido que se obtiene de los archivos MDX
---

<Layout title="Welcome to Astro.">
  <GoogleDocs>
    <div
      id="pages"
      class="flex flex-1 flex-col gap-10 items-center overflow-y-scroll scrollbar-custom p-2 md:py-5"
    >
      {pages.map((item) => <item.Content />)}
    </div>
  </GoogleDocs>
</Layout>
